.header{
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    background-color: white;
    z-index: 1000;
    top: 0%;
    box-shadow: 0px 5px 8px -9px rgba(0,0,0,0.75);
}

.header_left{
    display: flex;
    justify-content: space-evenly;
}

.header_input{
    display: flex;
    align-items: center;
    background-color: #eff2f5;
    padding: 10px;
    margin-left: 10px;
    border-radius: 30px;
}

.header_left > img{
    height: 40px;
}

.header_input > input{
    border: none;
    background-color: transparent;
    outline-width: 0;
}

.header_center{
    display: flex;
    flex: 1;
    justify-content: center;
}

.header_option {        
    color: gray;
    display: flex;
    align-items: center;
    padding: 0 30px;
    cursor: pointer;
}

/* Element.ui kullanilirlsa .MuiSVGIcon genel olarak bütün ikonlara verilen bir klas. Sadece bu klas kullanilarak ayrica klas atamasi yapilmadan istenilen yerdeki ikonlar düzenlenebilir. */

.header_option:hover {
    color: #2e81f4;
    background-color: #eff2f5;
    border-radius: 10px;
    align-items: center;
    padding: 0 30px;
    border-bottom: none;
}

.header_option_active{
    color: #2e81f4;
    border-bottom: 4px solid #2e81f4;
}

.header_right{
    display: flex;
    align-items: center;
}

.header_info{
    display: flex;
    align-items: center;
}

.header_info>h4{
    margin-left: 10px;
}

.header_right>.header_option{
    padding: 12px 31px;
}